@tailwind base;
@tailwind components;
@tailwind utilities;
html{font-family: 'Inter var', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
#navbar {
  display:none;
}

#navbar:target {
  display:block;
}
.nav-link-item {
  @apply block py-4 text-xl hover:border-b-8 border-rose-500 transition-all duration-300 ease-in-out text-gray-300;
}
#contact {
  display:none;
}

#contact:target {
  display:block;
}